#page-local-differentiator-index #local-differentiator-app .tab-content button {
    /*rtl:raw:
    text-align: right;
    */
    /*rtl:remove*/
    text-align: left;
}

#page-local-differentiator-index #local-differentiator-app .learninggoals-edit-list {
    padding-top: 1rem;
}
#page-local-differentiator-index #local-differentiator-app .learninggoals-edit-add {
    padding-top: 20px;
}
#page-local-differentiator-index #local-differentiator-app .learninggoals-edit-add-form > div > p > input {
    margin-bottom: 5px;
    font-size: 1rem;
}
#page-local-differentiator-index #local-differentiator-app input.thinking_skill[type="text"] {
    border: 1.5px solid #009;
    border-bottom: 2.5px solid #009;
}
#page-local-differentiator-index #local-differentiator-app input.thinking_skill[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    --webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    --moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-color: #009;
    transition: border linear .2s, box-shadow linear .2s;
}
#page-local-differentiator-index #local-differentiator-app input.content[type="text"] {
    border: 1.5px solid #600;
    border-bottom: 2.5px solid #600;
}
#page-local-differentiator-index #local-differentiator-app input.content[type="text"]:focus {
    outline: none;
    border: 1.5px solid #600;
    border-bottom: 2.5px solid #600;
}
#page-local-differentiator-index #local-differentiator-app input.resource[type="text"] {
    border: 1.5px solid #090;
    border-bottom: 2.5px solid #090;
}
#page-local-differentiator-index #local-differentiator-app input.resource[type="text"]:focus {
    outline: none;
    border: 1.5px solid #090;
    border-bottom: 2.5px solid #090;
}
#page-local-differentiator-index #local-differentiator-app input.product[type="text"] {
    border: 1.5px solid #909;
    border-bottom: 2.5px solid #909;
}
#page-local-differentiator-index #local-differentiator-app input.product[type="text"]:focus {
    outline: none;
    border: 1.5px solid #909;
    border-bottom: 2.5px solid #909;
}
#page-local-differentiator-index #local-differentiator-app input.group[type="text"] {
    border: 1.5px solid #990;
    border-bottom: 2.5px solid #990;
}
#page-local-differentiator-index #local-differentiator-app input.group[type="text"]:focus {
    outline: none;
    border: 1.5px solid #990;
    border-bottom: 2.5px solid #990;
}
#page-local-differentiator-index #local-differentiator-app input[type="text"] {
    transition: border-color 250ms ease;
    appearance: none;
    border-radius: 4px;
    border: 1.5px solid #e9ebeb;
    border-bottom: 2.5px solid #e9ebeb;
    padding: 0.15em 0.3em;
}
#page-local-differentiator-index #local-differentiator-app input[type="text"]:focus {
    outline: none;
    border-color: #999;
}
#page-local-differentiator-index #local-differentiator-app input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(19, 40, 48, 0.54);
}
#page-local-differentiator-index #local-differentiator-app .fa-clipboard {
    cursor: pointer;
    margin-right: 0;
}
